#!/bin/bash

# set -eu

# apt-get install postgresql-client
wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
chmod +x cloud_sql_proxy
./cloud_sql_proxy -instances=${project_id}:${region}:${db_instance_name}=tcp:5432 -quiet &
# ./cloud_sql_proxy -instances=tf-first-project:asia-south1:db-primary-7d693722=tcp:5432 -quiet &
# psql "host=127.0.0.1 sslmode=disable dbname=${db_name} user=${db_user} password=${db_password}"
# psql "host=127.0.0.1 sslmode=disable dbname=gitlabhq_production user=gitlab password=gitlab"