#!/bin/bash

# set -xe

# sudo apt-get update
# sudo apt-get install -y curl openssh-server ca-certificates
# curl https://packages.gitlab.com/install/repositories/gitlab/gitlab-ee/script.deb.sh | sudo bash
# apt-get install gitlab-ee -y
# sed -i 's/^external_url.*/external_url "http:\/\/34.107.133.237"/' /etc/gitlab/gitlab.rb
# echo "nginx['listen_port'] = 80" >> /etc/gitlab/gitlab.rb
# echo "nginx['listen_https'] = false" >> /etc/gitlab/gitlab.rb
# gitlab-ctl reconfigure

# mkdir -p /opt/app
# gsutil -m cp -R gs://tf-first-project-bucket /opt/app

apt-get update
apt-get install -y curl openssh-server ca-certificates
curl https://packages.gitlab.com/install/repositories/gitlab/gitlab-ce/script.deb.sh | bash
apt-get install gitlab-ce -y
# sudo mkdir -p /opt/app
# gsutil -m cp -R gs://tf-first-project-bucket /opt/app
# sudo mkdir -p /etc/gitlab/ssl
# sudo chmod 755 /etc/gitlab/ssl
# sudo cp /opt/app/tf-first-project-bucket/live/budita.dev/cert.pem /etc/gitlab/ssl/budita.dev.crt
# sudo cp /opt/app/tf-first-project-bucket/live/budita.dev/privkey.pem /etc/gitlab/ssl/budita.dev.key
# sudo cp /opt/app/tf-first-project-bucket/gitlab.rb /etc/gitlab/gitlab.rb
# gitlab-ctl reconfigure